/* Chrome, Safari, Edge, Opera */
.number-input input::-webkit-outer-spin-button,
.number-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.number-input-controls {
  display: flex;
  width: 100%;
}

.number-input-controls input {
  border: none;
  border-width: 0;
  font-size: 28px;
  font-weight: bold;
}

.number-input-controls input:focus {
  outline: none;
}
